*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body { 
    background-color: #202123;
    font-family: "Poppins", sans-serif;  
    line-height: 1.6;
}

header {
    text-align: center;
    border-bottom: 2px;
    padding: 20px 0px; 
}

h2 {
    color: #61afef;
    font-weight: 300;
    font-size: 28px; 
    margin: 0;
    margin-top: 20px;
}

nav ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    justify-content: center; 
}

nav ul li {
    margin: 0 15px; 
    display: inline;
}

nav a {
    color: #61afef;
    text-decoration: none;
    padding: 10px; 
    transition: color 0.3s ease-in-out; 
}

nav a:hover {
    color: #4682B4;
}

hr {
    width: 100%;
    border: none; 
    height: 1px; 
    background-color: darkgray; 
    opacity: 0.2; 
}

main {
    color: whitesmoke;
    margin-top: 20px; 
    width: 100%;
}

h1 {
    color: #61afef;
    margin-bottom: 10px; 
}

